<div class="page-content">
  <h4>Login Config</h4>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="siteURL">dotCMS URL</label>
      <input type="text" pInputText id="siteURL"
             required
             [(ngModel)]="configSettings.siteURL" name="siteURL">
    </div>
    <div>
      <label for="username">Username</label>
      <input type="text" pInputText id="username"
             [(ngModel)]="configSettings.userName"
             name="username">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" pPassword id="password" [feedback]="false"
             [(ngModel)]="configSettings.password"
             name="password">
    </div>
    <button pButton type="text" label="Update Login" style="width: auto"></button>
  </form>
  <button *ngIf="dotConf.jwt" pButton type="text" (click)="removeCurrentToken()" label="Clear JWT Token" style="width: auto"></button>
</div>
